{% extends 'base.html' %}


{% block head %}
<title>Password</title>
{% endblock %}

{% block body %}
<div class="container">
 <form  method="post">
 {% csrf_token %}
        {{ form.as_p }}
          <input type="checkbox" name="vehicle1" value="True"> Upper case<br>
          <input type="checkbox" name="vehicle2" value="True"> With numbers<br>
          <input type="checkbox" name="vehicle3" value="True" checked> With simbols<br>
          <input type="checkbox" name="vehicle3" value="True" checked> With word<br>
          <input type="checkbox" name="vehicle3" value="True" checked> Length <input type="text" name="Length" ><br>

        <div>

</div>
        <button type="submit">Generate pin</button>
        <button type="submit">Submit</button>
        <button type="submit"><a href="{% url 'home:home' %}">Cancel</a></button>
    </form>
</div>

{% endblock %}